[{*.yaml,*.yml}]
# Tabs and Indents
ij_yaml_indent_size = 2
ij_yaml_keep_indents_on_empty_lines = false
ij_yaml_indent_sequence_value = true

# Spaces
## Within
ij_yaml_spaces_within_braces = true
ij_yaml_spaces_within_brackets = true

## Other
ij_yaml_space_before_colon = false

# Wrapping and Braces
## Visual guides
ij_visual_guides = unset

## Keep when reformatting
ij_yaml_keep_line_breaks = true

## Align values in maps
ij_yaml_align_values_properties = do_not_align

## Sequence value
ij_yaml_sequence_on_new_line = false
ij_yaml_block_mapping_on_new_line = false
ij_yaml_autoinsert_sequence_marker = true

# Code Generation
## Comments
ij_yaml_line_comment_at_first_column = true
ij_yaml_line_comment_add_space = false
ij_yaml_line_comment_add_space_on_reformat = false
